# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/src/assets/images/Ashtray Set by Seth in Moss
/src/assets/images/Ashtray Set by Seth in Sand
/src/assets/images/Block Table Lighter
/src/assets/images/Carry Case
/src/assets/images/Crash Tray
/src/assets/images/Glass & Cork Ashtray
/src/assets/images/Gloopy Ashtray by Seth in Blue & Chartreuse
/src/assets/images/Oil Lamp in Green
/src/assets/images/Oil Lamp in White
/src/assets/images/Oil Lamp in Green
/src/assets/images/Pebble Match Strike
/src/assets/images/Ridge Ashtray
/src/assets/images/Stack Lantern Ashtray in Olive Green
/src/assets/images/Stack Lantern Ashtray in Sky Blue
/src/assets/images/Stash Box Blue Style
/src/assets/images/Stadium Ashtray
/src/assets/images/stash-box
/src/assets/images/Weight Lamp Ashtray
